.button {
    font-size: 5rem;
    border-radius: 2em;
    padding: .5em;
    background: black;
    color: white;
}

.green {
    color: green;
    border-color: green;
}

.blue {
    color: deepskyblue;
    border-color: deepskyblue;
}

.red {
    color: red;
    border-color: red;
}

.white {
    color: white;
    border-color: white;
}

.button:active,
.button:hover {
    background-color: white;
}

.white:hover {
    background-color: white;
    color: black;
    border-color: black;
}

@media screen and (max-width: 800px) {
    .button {
        font-size: 3rem;
    }
}
