.title {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    font-family: sans-serif;
}

.subtitle {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2em;
    font-family: sans-serif;
}

.buttonContainer {
    display: flex;
    gap: 3em;
    align-content: center;
    justify-content: center;
}

.centerContainer {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

@media screen and (max-width: 600px) {
    .buttonContainer {
        flex-direction: column;
    }
}
